@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.2;
}

.wrapper-component {
  padding: 20px;
}

.question-header {
  font-size: $prominent;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  .wrapper-component {
    background-color: $dark;
    width: 850px;
    border-radius: 15px;
    padding: 40px;
  }
}
