// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #000;
$secondary : #6949FD;
$accent    : #37eabb;

$dark      : #1F1147;

$positive  : #21BA45;
$negative  : #ff0000;
$info      : #040505;
$warning   : #F2C037;

$extra-big: 50px;
$big: 40px;
$prominent: 30px;
$regular: 24px;
$fitting: 20px;
$sleek: 16px;

@import '~quasar-variables-styl'
