@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.2;
}

.wrapper-component {
  padding: 20px;
}

.question-header {
  font-size: $prominent;
  text-align: center;
  margin-bottom: 40px;
}

.gradient-text {
  font-family: 'Pacifico', cursive;
  background: linear-gradient(90deg, rgba(10,167,176,1) 0%, rgba(189,12,207,1) 50%, rgba(255,0,51,1) 50%, rgba(255,193,0,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1024px) {
  .wrapper-component {
    background-color: $dark;
    width: 850px;
    border-radius: 15px;
    padding: 40px;
  }
}
